<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>List Products</title>
</head>
<body>
<div layout:fragment="content">
    <h2>List Products</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Category Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listproduct}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <!-- Note: Ensure image is saved in target/classes/static/images to be seen immediately -->
                <img th:if="${product.image != null}"
                     th:src="@{/images/{imageName}(imageName=${product.image})}"
                     width="100px"
                     alt="Product Image"/>
            </td>
            <td th:text="${product.category != null} ? ${product.category.name} : 'N/A'"></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/products/delete/{id}(id=${product.id})}"
                   onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>